.custom-post-card-description {
    position: relative;
}

.custom-post-card-description > div:nth-of-type(1) {
    width: 100%;
    max-height: 75px;
    overflow: hidden;
}

.custom-post-card-description > div:nth-of-type(2) {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 15%, white);
}